<!doctype html>
<html>
<head>
<% include header %>
<title>Climatic Claims</title>
</head>
<body>
	<div class="loading" id='loading'>Loading&#8230;</div>
	<div class="container" id='content' style="display:none;">
		<div class="col-md-12">
		<h3> Climatic Claims </h3>
		<h5><i>rewrite the completion update to make it a toggle onclick findupdateandsave</i></h5>
		<% if(tasks && tasks.length) { %>
		<form action="/completeclaim", method="post">
			<table id='example' class='table table-striped table-bordered' cellspacing="0"width="100%">
				<thead>
					<tr>
						<th>Done</th>						
						<th>Date</th>
						<th>Claim Status</th>
						<th>Claim Type</th>
						<th>Brand</th>
						<th>Item ID</th>
						<th>Serial No</th>
					</tr>
				</thead>
				<tfoot>
					<tr>
						<th>Done</th>						
						<th>Date</th>
						<th>Claim Status</th>
						<th>Claim Type</th>
						<th>Brand</th>
						<th>Item ID</th>
						<th>Serial No</th>
					</tr>
				</tfoot>
				<tbody>
					<% for(var i = 0; i < tasks.length; i++) { %>
					<% var task = tasks[i]; %>
						<tr>
							<td><span class="input-group"><input type='checkbox', name='<%= task._id %>', value='<%=!task.requestCompleted %>', checked='<%= task.requestCompleted %>')</td>
							<% var day = task.requestTimestamp.getDate(); %>
							<% var month = task.requestTimestamp.getMonth(); %>
							<% var year = task.requestTimestamp.getFullYear(); %>
							<td><%= month + "/" + day + "/" + year %></td>
							<td><%= task.requestStatus %></td>
							<td><%= task.claimType %></td>
							<td><%= task.itemBrand %></td>
							<td><%= task.itemID %></td>
							<td><%= task.serialNo %></td>
						</tr>
					<% } %>
				</tbody>
			</table>
			<input type="submit", value="Update tasks">
		</form>
		<% } else { %>
			<br />
			No results returned!
		<% } %>
		</div>
	</div>
</body>
</html>