<% if(cheapest) { %>
	Shipping <%= weight %> lbs to zip <%= toZip %>
	<br />
	<br />
	
	Suggestion: <span id="cheapestOption"> Ship from <%= cheapest.fromZip %> for $<%= cheapest.cost %> via <%= cheapest.carrier %> </span>
	<br />
	<br />

	<% for(var i = 0; i < ratingResults.length; i++) { %>
		<% var result = ratingResults[i]; %>

		Shipping from zip <%= result.fromZip %> - <%= result.distance %> miles
		<table>

			<% for(var j = 0; j < result.rates.length; j++) { %>
				<% var rate = result.rates[j]; %>
				<tr>
					<td>$<%= rate.cost %> (<%= rate.carrier %>)</td>
				</tr>
			<% } %> 

		</table>

		<br />

	<% } %>



<% } else { %>
	No results returned!
<% } %>